table {
    width: 800px;
    text-align: center;
    margin: 20px auto;
}
th, td {
    text-align: center;
    border: 1px solid black;
}

.clearBootstr {
    border: none;
    background-color: white;
}

th {
    border-top: 1px solid black !important;
}




