
<table class="table table-striped">
    <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Delete row</th>
    </tr>
    <tr *ngFor="let product of visibleProducts" [style.color]="addTextRed(product)" >
        <td> {{product.id}} </td>
        <td> {{product.name}} </td>
        <td> {{product.price}} </td>
        <td> {{product.Category}} </td> 
        <td class="text-right">
            <button (click)="removeRow(product)" class="btn btn-danger" >Delete</button>
        </td>  
    </tr>
    <tr>
        <td colspan="5">
            <select name="Category" [(ngModel)]="nCategory">
                    <option disabled >Choose category</option>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                    <option value="Category 3">Category 3</option>
                    <option value="All Products">All Products</option>
            </select>
        </td>
    </tr>
</table>

    
    
